.wrapper {
  background-color: var(--color-secondary);
}

.aboutIntro {
  color: var(--body-text);
  text-align: center;
  padding-top: var(--page-space);
  padding-bottom: var(--margin-space);
}

.dividerWrapper {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider {
  width: 100%; /* stretch full width */
  height: auto; /* maintain aspect ratio */

  display: block;
  object-fit: cover; /* fill the width nicely */
}

.timelineContainer {
  width: 100%;
  padding: var(--page-space);
  background-color: var(--primary);
}
.timelineContainer2 {
  width: 100%;
  padding: var(--page-space);
  background-color: var(--secondary);
}
.timelineSection {
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
  padding: 60px 1%;
  max-width: 1500px;

  color: var(--secondary2);
}

.reverse {
  flex-direction: row-reverse;
}

.textBlock {
  flex: 1;
  z-index: 2;
}

.textBlock2 {
    font-size: 30px;
  flex: 1;
  z-index: 2;
  color: var(--body-text);
}

.year {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--secondary2);
}

.year2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--body-text);
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 25px;
  opacity: 0.85;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.timelineImage {
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 14px;
  border: 2px solid var(--secondary2);
  object-fit: cover;
}
