@import "tailwindcss";

:root {
  /* main app background */
  --background: #f6fbff;
  --foreground: #171717;
  /* main text */

  --primary: #960303;
  --primary2: #510000;


  --blue1: #0096e7;
  --blue2: #7dd2ff;

  --secondary: #ddf2fd;
  --secondary2: #f6fbff;



  --accent: #23303d;
  --accent2: #1232517a;
  --accent3: #960303b0;
  --accent4: #ff8b8b95;


  --header-text: #f6fbff;
  --body-text: #2a2a2a;

  /* LAYOUT */
  --page-space: 2rem;
  --margin-space: 4rem;
  --margin-space-lg: 9rem;
  --text-space-sm: 5px;


}

@theme inline {
  /* backgrounds */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* main colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary2: var(--secondary2);
  --color-secondary3: var(--secondary3);
  --color-accent: var(--accent);

  /* text colors */
  --color-header: var(--header-text);
  --color-body: var(--body-text);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* text sizes */
  --text-header-xlg: 88px;
  --text-header-lg: 48px;
  --text-header-md: 32px;
  --text-header-sm: 24px;

  --text-minsize: 18px;
  --text-maxsize: 88px;

  --text-descr-lg: 24px;
  --text-descr-md: 18px;
  --text-descr-sm: 8px;
}


/* if we wanted to implement dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


html {
  scroll-behavior: smooth;
}