.wrapper {
  background-color: #950404;
}

/* HOMEPAGE */
.pageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* cornell autoboat texts */
.homeHeroText {
  padding: 15px;
  margin-top: 7vh;
  font-size: 11vw;
  font-size: clamp(2rem, 11vw, 8rem);
  letter-spacing: -.4vw;
  font-weight: 500;
  color: #8a1c1c;
  line-height: 1;


}

.homeContent {
  margin-top: 400px; 
  position: relative;
  z-index: 0;
  top: 8vh;
  background-color: #950404;
  margin-bottom: 5vh;

}

.homeTitle2 {
  font-size: clamp(1rem, 8vw, 6rem);
  margin-top: 0px;

}

.homeDescr {
  font-size: 2vw;
  letter-spacing: 0vw;
  line-height: 2;
}

.homeHeroBoat {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  /* still takes up space so content below isn't overlapped */
  z-index: 0;
}

/* halfpage hero image */
/* ANIMATION for boat drawing */
@keyframes boatFloat {
  0% {
    transform: translate(-80vw, 0vh) rotate(0deg);
    opacity: 1;
  }

  8% {
    transform: translate(-60vw, -0.6vh) rotate(5deg);
  }

  18% {
    transform: translate(-40vw, 0.4vh) rotate(-6deg);
  }

  40% {
    transform: translate(-10vw, -1vh) rotate(8deg);
  }

  60% {
    transform: translate(20vw, 0.5vh) rotate(-5deg);
  }

  75% {
    transform: translate(50vw, -0.8vh) rotate(8deg);
  }

  85% {
    transform: translate(80vw, 0.2vh) rotate(-7deg);
  }

  90% {
    transform: translate(120vw, 0vh) rotate(0deg);
    opacity: 1;
  }

  91% {
    opacity: 0;
  }

  95% {
    transform: translate(-100vw, 0vh) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: translate(-80vw, 0vh) rotate(0deg);
    opacity: 1;
  }
}

.cliffordBoat {
  width: clamp(60vw, 60vw, 100vw);
  max-width: 800px;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  animation: boatFloat 18s ease-in-out infinite;
}

.heroHomeImage {
  object-fit: cover;
  object-position: center -180px;
}

.aboutCrewTitle {
  font-size: clamp(52px, 8vw, 12vw);
  margin-left: 5vw;
  margin-bottom: 5vh;
  font-weight: 900;
  text-transform: uppercase;
  color: #f5f5f5;
  line-height: 1;
  position: relative;

}

.aboutCrewTitle2 {
  font-size: clamp(48px, 5vw, 10vw);
}


.blockSection {
  color: rgb(255, 255, 255);
  margin-top: 10rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionContent {
  display: flex;
  flex-direction: row;
  margin: 30px;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: none;
  width: 50%;
  height: auto;
  min-height: 50vh;
}

.techImg {
  background-color: rgb(222, 222, 222);
  border-radius: 30px;
  height: 80%;
  width: 100%;
  margin: 10px;
}

.descrMain{
  font-size: 25px;
}
.descr{
  font-size: 15px;
   list-style-type: disc;
}
.descrList {
  list-style-type: disc;   
  margin-left: 15px;       
    
}


.descrBlock {
  margin: 15px;
}

.blockHeader {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.videoCont {
  display: flex;
  flex-direction: column;
  background-color: rgb(222, 222, 222);
  color: red;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  min-height: 60vh;
  margin: 10px;
  margin-bottom: 100px;
}




/* GENERAL PAGES */
.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heroWrapper {
  position: relative;
  width: 100%;
  min-height: 60vh;
  overflow: hidden;
}

.heroImage {
  z-index: -1;
}

.heroHomeContent {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
  text-align: center;
}

.content {
  position: relative;
  z-index: 1;
  margin: 0px;
}

/* HERO IMAGE */
.heroDuo {
  display: flex;
  flex-direction: row;
  min-height: 88vh;
}

.leftHero {
  display: flex;
  width: 48%;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.styleBox1 {
  background-color: #f5f5f5;
  padding: 8px;
}

.styleBox2 {
  background-color: #8a1c1c;
  padding: 10px;
  height: 100%;
}

.styleBox3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  height: 79vh;
  color: #8a1c1c;
}

.dynamicText {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  text-align: center;
}

.staticText {
  font-size: 7vw;
  text-align: center;
  font-weight: bolder;
}

.boatImage {
  object-fit: cover;
  object-position: center;
  z-index: 1;
  width: 100%;
}

.rightHero {
  flex: 1;
  position: relative;
  justify-content: center;
  align-content: center;
}

.overlay {
  position: absolute;
  background-color: rgba(117, 65, 65, 0.57);
  z-index: 2;
  inset: 0;
}

.cornellAB {
  display: flex;
  flex-direction: column;

  text-align: center;
  font-size: 9vw;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: -3px;

  z-index: 3;
  position: relative;
  color: #f5f5f5;
  justify-self: center;
  padding: 30px;
}

/* MOBILE VIEW */
@media (max-width: 661px) {

  /* HOMEPAGE */
  .homeHeroBoat {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }

  .heroHomeImage {
    object-position: center -280px;
    object-fit: cover;
    /* still fills container */
  }

  .homeHeroText {
    margin-top: 1rem;
  }

  .cliffordBoat {
    width: 68vw;
    min-width: 480px;
  }

}

/* FULL SCREEN VIEW */
@media (min-width: 1400px) {

  /* HOMEPAGE */
  .homeHeroBoat {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  .homeHeroText {
    margin-top: 1rem;
  }
  
  .homeContent{
    top: 28vh;
  }

  .cliffordBoat {
    width: 68vw;
    min-width: 480px;
  }





}