.wrapper {
  margin: 0 auto;
  background-color: var(--secondary);
  color: var(--body-text);
}

/* HERO IMAGE SECTION */
.heroImg {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color: var(--primary);
}

/* IMAGE ITSELF */
.boatImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.boatImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* BLUE OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-red);
  z-index: 2;
}

/*TITLE */
.titleBlock {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: var(--header-text);
  max-width: 95%;
}

.technicalTitle {
  font-size: clamp(1.5rem, 7vw, 5rem);
  letter-spacing: -0.3vw;
  font-weight: 500;
  color: var(--header-text);
  margin: 0;
  line-height: 1;
  width: auto;
  max-width: 95vw;
}

.titleDescr {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin-top: 1rem;
  line-height: 1.5;
  color: var(--header-text);
}

.dividerWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
  transform: translateY(40%);
}

.inPageDivider {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.divider {
  object-fit: cover; 
  width: 100vw;
  max-height: 400px;
  display: block;
}

.techSection {
  margin-top: 65px;
  padding: 10% 10%;
  font-size: 16px;
  z-index: 1;
}

.techHeading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary);
}

.descr {
  font-size: 23px;
  margin-bottom: 40px;
  line-height: 1.6;
  color: var(--body-text);
}

/* IMAGE CARDS */

.techImg {
  padding: 5px;
  background-color: var(--primary);
  border-radius: 15px;
  margin: 20px auto 50px;
  max-width: 1000px;
  display: flex;
  width: fit-content;
}

.techImage {
  display: block;
  margin: 0 auto;
  width: auto;
  object-fit: contain;
  border-radius: 10px;
}

.techVideo {
  width: 100%;       
  max-width: 1000px;  
  height: auto;      
  border-radius: 12px;
  object-fit: cover; 
  display: block;
  margin: 0 auto;   
}

.sectionContent {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: none;
  width: 50%;
  height: auto;
  min-height: 50vh;
}

.imageGallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.descrWithMargin {
  margin-bottom: 20px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-bottom: 8rem;
}

.techButton {
  padding: 1rem 1.5rem; 
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem; 
  transition: all 0.2s ease-in-out;
  margin-bottom: 3rem;
}

.techButton:hover {
  background-color: var(--overlay-red);
  transform: translateY(-1px);
}
.techdescr {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: var(--body-text);
}


