.wrapper {
  margin: 0 auto;
  background-color: var(--secondary);
  color: rgb(71, 3, 3);
}

/* HERO IMAGE SECTION */
.heroImg {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color: var(--primary);
}

/* IMAGE ITSELF */
.boatImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.boatImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* BLUE OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(12, 101, 139, 0.6);
  z-index: 2;
}

/*TITLE */
.titleBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: #f6eded;
  max-width: 90%;
}

.technicalTitle {
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  width: 80vw;
}

.titleDescr {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin-top: 1rem;
  line-height: 1.5;
  color: #f6eded;
}

.dividerWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
  transform: translateY(25%);
}

.inPageDivider {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.divider {
  width: 100vw;
  max-height: 300px;
  display: block;
}

.techSection {
  padding: 10% 10%;
  font-size: 16px;
  z-index: 1;
}

.techHeading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--primary);
}

.descr {
  font-size: 23px;
  margin-bottom: 40px;
  line-height: 1.6;
  color: #000000;
}

/* IMAGE CARDS */

.techImg {
  padding: 5px;
  background-color: var(--primary);
  border-radius: 15px;
  margin: 20px auto 50px;
  display: block;
  width: fit-content;
}

.techImage {
  display: block;
  margin: 0 auto;
  width: auto;
  object-fit: contain;
  border-radius: 10px;
}

.sectionContent {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: none;
  width: 50%;
  height: auto;
  min-height: 50vh;
}
