
.wrapper {
  margin: 0 auto;
  background-color: var(--secondary);
  color: rgb(71, 3, 3);
}

/* HERO IMAGE SECTION */
.heroImg {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-color: var(--primary); 
}

/* IMAGE ITSELF */
.boatImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.boatImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* BLUE OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(12, 101, 139, 0.6);
  z-index: 2;
}

/*TITLE */
.titleBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: #f6eded;
  max-width: 80%;
}

.technicalTitle {
  font-size: 90px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  width: 80vw;
}

.titleDescr {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin-top: 1rem;
  line-height: 1.5;
  color: #f6eded;
}

.dividerWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  transform: translateY(35%);
}

.divider {
  width: 100vw;
  max-height: 200px;
  display: block;
}


.techSection {
  padding: 10% 10%;
  font-size: 16px;
}

.techHeading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--primary);
}

.descr {
  font-size: 23px;
  margin-bottom: 40px;
  line-height: 1.6;
  color: #000000;
}

/* IMAGE CARDS */
.techImg {
  padding: 5px;
  background-color: var(--primary);
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.techImage {
  width: 100%;
  border-radius: 10px;
  max-height: 400px;
  object-fit: cover;
}
