.wrapper {
  background-color: var(--color-secondary);
}

.teamIntro {
  color: var(--body-text);
  text-align: center;
  padding-top: var(--page-space);
  padding-bottom: var(--margin-space);
}

.teamIntroBand {
  display: flex;
  justify-content: center;
  gap: var(--margin-space);

  padding: 8vh;
  background-color: var(--primary);
  color: var(--secondary2);

  text-align: center;
  font-weight: 300;
  font-size: clamp(var(--text-minsize), 2vw, var(--text-maxsize));
}

.icon {
  width: 50px;
}

.dividerWrapper {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider {
  width: 100%;
  height: auto;
  display: block;
}

.subTeamWrapper {
  background-color: var(--primary);
  padding: var(--page-space);
}

.subTeamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
  padding: 1rem 0;
}

.memberCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--foreground);
  color: var(--secondary2);
  /* width: 28rem; */
  height: 16rem;
  border-radius: 8px;
}

.memberCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

.memberCardImageWrapper {
  width: 240px;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid var(--secondary2);
}

.memberCardHeader {
  line-height: 25px;
  margin-bottom: .5rem;
  border-radius: 20px;
}

.memberCardRight {
  width: 8rem;
}

.memberCardIcons {
  display: flex;

}

.iconmini {
  width: 30px;
}

.memberCardTextList li {
  font-size: var( --text-descr-sm);
}