
.wrapper {
  background-color: #e9e6ecd7;
  min-height: 100vh;
  width: 100%;
}


.heroImageContainer {
  width: 100%;
  height: 40vh;   
  position: relative; 
  overflow: hidden;
}


.topImage {
  object-fit: cover;  
  object-position: center;
}

.teamIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 20px;
  gap: 20px;
}

.teamIntro h2 {
  font-size: 50px;
  font-weight: 700;
  color: #0a1f44;
}

.teamIntro p {
  font-size: 30px;
  max-width:1000px;
  color: #05101e;
  line-height: 1.5;
}

.statsContainer {
  width: 100vw;              
  background: rgb(178, 166, 166);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;     
  gap: 90px;
  padding: 20px 0;                
}


.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNumber {
  font-size: 50px;
  font-weight: 700;
  color: #06080c;
}

.statLabel {
  font-size: 25px;
  color: #060e19;
  text-align: center;
}

/*team cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 630px));
  justify-content: center; 
  gap: 75px;
  padding: 20px 40px;
}

/*ID cards */
.card {
  display: flex;
  align-items: center;        
  background: rgb(160, 159, 160);
  border: 2px solid #b9b5b7;
  border-radius: 14px;
  padding: 20px;
  gap: 30px;            
  min-height: 350px;           
  max-width: 800px;
}

.profileImage {
  width:250px;       
  height: 250px;     
  border-radius: 12px;
  border: 3px solid #bdb7bd;
  margin-bottom: 20px;  
  object-fit: cover; 
}

.name {
  margin-top:-30px;
  font-size: 30px;
  font-weight: 600;
  color: #0a1f44;
}


.teamLead {
  font-size: 23px;
  color: #4d4b4c;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  flex: 1;              
}
.nameSubteam {
  font-size: 23px;
  color: #515254;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  flex: 1;              
}

.sectionTitle {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #0a1f44;
  margin-top: 80px;
  margin-bottom: 40px;
}

.textContent {

  font-size: 20px;
  color: #000000;
  margin-top: 4px;     
  display: flex;
  flex-direction: column;   
  justify-content: flex-start;  
  flex: 1;    
  align-items: flex-start;         
}

.iconRow {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}


.iconRow a {

  align-items: center;
}

.linkedinIcon {
  margin-top:10px;  
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-image: url("/LinkedIn_icon.svg.png");
}

.portfolioIcon {
  margin-top:10px;  
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-image: url("/LinkedIn_icon.svg.png");
}

.githubIcon {
  margin-top:10px;  
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-image: url("/github.svg");
}


